.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card-title {
    margin-bottom: 10px;
    color: #4e1256;
}

table {
    width: 100%;
}

.paginator-div {
    margin-top: 2px;
    width: 100%;
}