.confirm-title {
    background-color: #04fb4c !important;
    color: #4e1256 !important;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
}

.dialog-content {
    justify-content: space-between;
}